<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="officerParserBean" class="com.intertec.paperanalyzer.parsers.OfficerParser" scope="prototype"/>

    <bean id="intermediaryParserBean" class="com.intertec.paperanalyzer.parsers.IntermediaryParser" scope="prototype"/>

    <bean id="entityParserBean" class="com.intertec.paperanalyzer.parsers.EntityParser" scope="prototype"/>

    <bean id="edgeParserBean" class="com.intertec.paperanalyzer.parsers.EdgeParser" scope="prototype"/>

    <bean id="panamaPaperFactoryBean" class="com.intertec.paperanalyzer.factories.PanamaPaperFactory" scope="prototype"/>

    <bean id="scenarioBuilderBean" class="com.intertec.paperanalyzer.builders.ScenarioBuilder">
        <property name="officerLinesParser" ref="officerParserBean"/>
        <property name="intermediaryLinesParser" ref="intermediaryParserBean"/>
        <property name="entityLinesParser" ref="entityParserBean"/>
        <property name="edgeLinesParser" ref="edgeParserBean"/>
    </bean>

    <bean id="panamaPaperBean" class="com.intertec.paperanalyzer.business.PanamaPaper" factory-method="generatePanamaPaper" factory-bean="panamaPaperFactoryBean">
        <constructor-arg ref="scenarioBuilderBean"/>
    </bean>

</beans>